fastapi
uvicorn[standard]
gunicorn
httpx
anthropic
pydantic
WeasyPrint
pypdf
python-multipart
sentence-transformers
faiss-cpu
numpy
torch
google-cloud-vision==3.7.0
PyMuPDF==1.24.0






