fastapi
uvicorn[standard]
gunicorn
httpx
anthropic
pydantic
WeasyPrint
pypdf
python-multipart
sentence-transformers
faiss-cpu
numpy
torch
google-cloud-vision==3.7.0
PyMuPDF==1.24.0
protobuf>=3.20.2,<4.0.0
grpcio==1.62.3
grpcio-status==1.62.3
googleapis-common-protos==1.62.0
